/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |     |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |     |
// |     |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |     |
// |     |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  |     |
//                   | CAPS| SPC |   | ENT | BSPC |
                        bindings = <
   &none     &kp Q       &kp W      &kp E       &kp R       &kp T         &kp Y    &kp U       &kp I       &kp O      &kp P     &none
   &none     &mt LSHFT A &mt LALT S &mt LGUI D  &mt LCTRL F &kp G         &kp H    &mt RCTRL J &mt RGUI K  &mt RALT L &mt RSHFT SEMI &none
   &none     &kp Z       &kp X      &kp C       &kp V       &kp B         &kp N    &kp M       &kp COMMA   &kp DOT    &kp FSLH  &none
                         &none      &lt 1 CAPS   &kp SPACE                &kp RET  &lt 2 BSPC  &none
                        >;
                };

                lower_layer {
// -----------------------------------------------------------------------------------------
// |     |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  |     |
// |     | SHFT| ALT | GUI | CTRL|     |   | LFT | DWN |  UP | RGT | SHFT|     |
// |     |     |     |     |  D  |  D  |   |     |     |     |     |  '  |     |
//                   |     | SPC |   | ENT | L3  |
                        bindings = <
   &none     &kp N1    &kp N2    &kp N3    &kp N4    &kp N5       &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &none
   &none     &kp LSHFT &kp LALT  &kp LGUI  &kp LCTRL &none        &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT &kp RSHFT &none
   &none     &bt BT_CLR     &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3        &none     &none     &none     &none     &kp SQT   &none
                       &none     &trans    &kp SPACE                &kp RET   &lt 3 BSPC &none
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |     | TAB |  @  |  #  |  $  |  %  |   |  ^  |  `  |  ;  |  '  | BSPC|     |
// |     | TAB | ALT | GUI | CTRL|     |   |  -  |  =  |  [  |  ]  | SHFT|     |
// |     |     |     |     |     |     |   |  _  |  +  |  {  |  }  |  \  |     |
//                   | L3  | SPC |   | ENT |     |
                        bindings = <
   &none     &kp TAB   &kp AT    &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET &kp GRAVE &kp SEMI  &kp SQT   &kp BSPC  &none
   &none     &kp TAB   &kp LALT  &kp LGUI  &kp LCTRL &none        &kp MINUS &kp EQUAL &kp LBKT  &kp RBKT  &kp RSHFT &none
   &none     &none     &none     &none     &none     &none        &kp UNDER &kp PLUS  &kp LBRC  &kp RBRC  &kp BSLH  &none
                       &none     &lt 3 CAPS &kp SPACE               &kp RET   &trans &none
                        >;
                };

                adjust_layer {
// -----------------------------------------------------------------------------------------
// |     |  F1 |  F2 |  F3 |  F4 |  F5 |   |  F6 |  F7 |  F8 |  F9 | F10 |     |
// |     |     |     |     |     |     |   |     |     |     |     |     |     |
// |     |     |     |     |     |     |   |     |     |     |     |     |     |
//                   |     | SPC |   | ENT |     |
                        bindings = <
   &none     &kp F1    &kp F2    &kp F3    &kp F4    &kp F5       &kp F6    &kp F7    &kp F8    &kp F9    &kp F10   &none
   &none     &none     &none     &none     &none     &none        &none     &none     &none     &none     &none     &none
   &none     &none     &none     &none     &none     &none        &none     &none     &none     &none     &none     &none
                       &none     &trans    &kp SPACE                &kp RET   &trans &none
                        >;
                };
        };
};
